/* Header */

* {
	box-sizing: border-box;
}
body {
	font-family: 'Raleway', sans-serif;
	margin: 0;
	padding: 0;
	background-color: #f2f2f2;
}

header {
	height: 100px;
	width: 100%;
	color: #f2f2f2;
	margin: 0;
	padding: 0;
	background-color: #79a9b0;
	min-height: 100px;
}

#name {
	font-size: 20px;
	margin: 0;
	padding: 0;
	padding-left: 2.5%;
	padding-top: 20px;
	float: left;
}

h1 {
	text-shadow: 1px 1px #D3D3D3;
	padding: 0;
	margin: 0;
}

ul {
	font-size: 20px;
	padding-right: 2%;
	padding-top: 15px;
	float: right;
}

li {
	text-shadow: 1px 1px #D3D3D3;
	margin: 15px;
	padding: 0;
	display: inline;
}

a {
	color: #f2f2f2;
	text-decoration: none;
	list-style: none;
	text-underline-position: none;
}

a:hover {
	color: #c9c9c9;
}











/* individual page */

.container {
	margin: 80px;
	margin-top: 40px;
	padding: 0;
}

.title {
	margin: 0;
	padding: 0;
	padding-top: 1%;
	text-align: center;
}

hr {
	margin: 0;
	padding: 0;
}

h2 {	
	font-size: 100px;
	color: #c3a6a6;
	margin: 0;
	padding: 0;
}

h6 {
	padding-right: 220px;
	padding-left: 220px;
	padding-top: 0;
	text-align: center;
}

img {
	display: block;
	margin: 0 auto;

}


p {
	margin:40px;

}
h3 {
	font-size: 28px;
}

.link {
	padding: 0;
	margin: 0;
	color: #c3a6a6;
	font-size: 30px;
	text-align: center;

}






/* footer */

.bottom {
	position: relative;
	left: 0;
	bottom: 0;
	background-color: #79a9b0;
	color: #f2f2f2;
	text-align: center;
	width: 100%;
	margin: 0; 
	padding: 0;
	padding-top: 17px;
	height:50px;
	line-height: 15px;
}

h5 {
	text-shadow: 1px 1px #D3D3D3;
	padding: 0;
	margin: 0;
	text-align: center;
	font-size: 15px;
}

