/* header */

* {
	box-sizing: border-box;
}

body {
	font-family: 'Raleway', sans-serif;
	margin: 0;
	padding: 0;
	background-color: #f2f2f2;
}

header {
	color: #f2f2f2;
	height: 100px;
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: #79a9b0;
	min-height: 100px;
}

#name {
	font-size: 20px;
	margin: 0;
	padding: 0;
	padding-left: 2.5%;
	padding-top: 20px;
	float: left;
}

h1 {
	text-shadow: 1px 1px gray;
	padding: 0;
	margin: 0;
}

ul {
	font-size: 20px;
	padding-right: 2%;
	padding-top: 15px;
	float: right;
}

li {
	text-shadow: 1px 1px gray;
	margin: 15px;
	padding: 0;
	display: inline;
}

a {
	color: #f2f2f2;
	text-decoration: none;
	list-style: none;
	text-underline-position: none;
}

a:hover {
	color: #c9c9c9;
}








/* individual page */

h2 {
	color: #f2f2f2;
	font-size: 120px;
	padding: 0;
	margin: 0; 
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
}

h2:hover {	
	color: #c3a6a6;
}

p {
	color: #f2f2f2;
	font-size: 20px;
	padding: 0;
	margin: 0; 
	top:80%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
}

.block {
	color: #f2f2f2;
 	width: 100%;
 	text-align: center;
 	position: relative;
 	margin: 0px; 
 	margin-bottom: -10px;
}

img {
	margin: 0;
	padding: 0;
	width: 100%;
	min-width: 100%;
	max-height: 450px;
}

h4 {
	margin: 0;
	padding: 0;
}

.container {
	margin: 0;
	padding: 0;
}








/* footer */
.bottom {
	position: relative;
	left: 0;
	bottom: 0;
	background-color: #79a9b0;
	color: #f2f2f2;
	width: 100%;
	margin: 0; 
	padding: 0;
	height:50px;
	line-height: 15px;
}

h5 {
	text-shadow: 1px 1px gray;
	padding: 1.5%;
	margin: 0;
	text-align: center;
	font-size: 15px;
}
